@model LinkForEmployment.Models.job

@{
    ViewBag.Title = "حذف وظيفة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>الحذف</h2>

<h3>هل انت متأكد من حذف هذه الوظيفة؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationOfEmploymentContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationOfEmploymentContract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobsalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobsalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryPaymentPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryPaymentPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationAvailableForApply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationAvailableForApply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.applayPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applayPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.applayConditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applayConditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobDescrib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobDescrib)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-right:30px; font-size:16px;">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة الى الصفحة الرئيسية", "Index")
        </div>
    }
</div>
